*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;


}
body, html{
    height: 100%;
    margin: 0;
    
}

body{
    background-image:url("https://www.animatedimages.org/data/media/1513/animated-sea-and-ocean-image-0008.gif");
     background-size:cover;
     height: 120%;
     background-repeat: no-repeat;  
     font-family:'Merriweather', serif;
}

.container{
    display:flex;
}

/* Buttons SetUp*/
.buttonSetUp{
    margin-top: 10%;
    position: absolute;
    right: 10px;
    z-index: 3px;
}
.buttonSetUp button{
    right: 10%;
    font-weight: bold;
    font-size: 100%;
    margin: 2em;
    border: none;
    opacity: 0.6;
    display:block;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: 0.6;
    border: 5em;
    padding: 8%;
    background-color: yellow;
}
.buttonSetUp button:hover{
    background-color:palevioletred;
    border-radius: 18px;
    transition: 0.2s  ease-in;
    cursor: pointer;
    opacity: 0.6;  
}

.attributes-section{
    margin-top: 10%;
    position: absolute;
    left: 15px;  
}
.attributes-section li{
    list-style: none;
    border: none;
    opacity: 0.6;
    border-radius: 5%;
    margin: 1em;
    margin-right: auto;
    border-radius: 5em;
    padding: 15px;
    width: 120%;
    background-color: yellow;
    font-weight: bold;
  
}

#light-off{
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 2;
}
/*Pet CSS*/

#pet-area{
    position:absolute;
    bottom: 2px;
    right: 15px;
}
    .pet-profile > li{
    padding: 0.5em;
	display: inline;
	font-size: 2em;
	color: white;
	text-shadow: 2px 2px 5px #8a0383;
    }
 h2{
     text-align: center;
 }
h3{
    margin-top: 5%;
    margin-left: 5%;
}
  /*--------------------------------------
animating the pet
  ---------------------------------------------*/

  @keyframes swim{
      0%{right:0px;}
      25%{left: -800px; top:-400px}
      35%{left: -1400px; top:-500px }
      50%{right:-1300px; top:-600px}
      75% {left: -0px; top:-800px}
      100%{left:-1600px;top:-100px }

     from{ transform: translateX(0);}
      to{ transform:translateX(-800px)}
  }
